<div class="list-group" [ngClass]="{'list-group_bot': message.source == 0, 'list-group_human': message.source == 1}" >
 <li class="list-group-item" [ngClass]="{'bot': message.source == 0, 'human': message.source == 1}">
  <img [src]="message.avatar" class="avatar"/>
  <div class="message">
    {{message.content}}
    <p>
  </div>
  <div class="timeform" [ngClass]="{'bot': message.source == 0, 'human': message.source == 1}">
    <i class="fa fa-clock-o" aria-hidden="true"></i> <span class="timestamp">à {{message.timestamp | date : 'dd/MM/yyyy' }}</span>
  </div>
</li>
</div>
