.message {
  font-size: 1.5em;
  font-weight: 400;
  border-radius: 50px;
}

.timeform {
  float: left;
  width: 100%;

  i {
    margin-left: 20px;
  }

  .timestamp{
    font-size: 0.6em;
  }
}

.avatar{
  width: 50px;
  margin-right: 20px;
}

.list-group-item{
  width: 80%;
  border-radius: 30px;
}

.list-group_bot{

}
.list-group_human{
  display:flex;
  justify-content:flex-end;
  align-items:right;
}

.human{
  color: #f67800;
  background-color: white;
  display:flex;
  justify-content:flex-end;
  align-items:right;
}

.bot{
  align-items:right;
  background: linear-gradient(to right, #f67800 , #ffad5f);
  color: white;
  align-items:left;
}

.list-group{
  
}