.bot_bubble {
    margin-left: auto;
    
    width: 100px;
}

.human_bubble {
    margin-right: auto;
    width: 100px;
}

.container{
    /* height:30px;*/
    width : 983px; 
    background: linear-gradient(to right, #f67800 , #ffad5f);
    padding: 15px;
    
    border-radius: 25px;

    color: white;

    display:flex;
    justify-content:center;
    align-items:center;
}